:root {
    --font-nunito: 'Nunito Sans', sans-serif;
}

html,
body {
    font-family: var(--font-nunito);
    background-color: #F7F9F8;
    margin: 0;
    padding: 0;
    color: #2E3D3A;
}

.ant-typography,
.ant-btn,
.ant-input,
.ant-select,
.ant-table,
.ant-form,
.ant-menu,
.ant-pagination {
    font-family: var(--font-nunito) !important;
}

.custom-table {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1,
}

